/* color for active links in header */
$orangePeel: #F6A201;
$activeLink: $orangePeel;

/* main color for borders etc*/
$navajoWhite: #FFE3AC;
$borderColor: $navajoWhite;

/* default color for text*/
$black: #000;
$defTextColor: $black;